    html {
        background-image: url("img/quiztime.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    
    .button-36 {
        background-image: linear-gradient(92.88deg, #fd83eb 9.16%, #ff95d5 43.89%, #02fccf 64.72%);
        border-radius: 8px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        flex-shrink: 0;
        font-weight: 500;
        height: 4rem;
        padding: 0 1.6rem;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
        transition: all .5s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        height: 110px !important;
        width: 300px;
        font-size: 35px !important;
    }
    
    .button-36:hover {
        box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
        transition-duration: .1s;
    }
    
    .overlineAndButtonPosition {
        align-items: flex-end;
        display: flex;
        justify-content: flex-end;
        padding: 25px;
        color: white;
        font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
    }
    
    @media(max-width: 715px) {
        .button-36 {
            width: 250px;
            height: 100px;
        }
    }
    
    @media(max-width: 555px) {
        .button-36 {
            width: 190px;
            height: 80px;
        }
    }